:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.scroll-area-wrapper {
  position: relative; /* Ensure the wrapper is positioned relative */
}

.full-height-scroll-area {
  height: calc(100vh - 210px);
}

.scroll-area {
  overflow: auto;
  margin: 10px;
  /* margin-left: 10%; */
  /* max-width: 80%; */
  border: 3px solid black;
  position: relative;
}

.jviewer-search-bar {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.0rem; /* or whatever spacing feels right */
  overflow-x: auto;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.jviewer-item-count {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  z-index: 1000000001;
}

.scroll-item {
  /* overflow: hidden; */
  margin-bottom: 40px;
  margin-left: 10px;
  border-top: 1px solid #ccc; /* Adds a thin horizontal line */
  padding-top: 5px; /* Adds some spacing between the content and the line */
}

.scroll-item-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* .scroll-item-line1 span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
} */

.atlantic-title {
  color: var(--sl-color-primary-600, #3b82f6);
  font-size: 1.0em;
  font-weight: bold;
}

.atlantic-title:hover {
  text-decoration: underline;
}

.date {
  color: #aaa;
  font-weight: bold;
}

.author {
  color: var(--sl-color-neutral-1000);
  font-weight: 300;
  margin-top: -4px;
  /* font-size: 0.875rem; */
  font-style: italic;
  font-weight: 600;
  /* font-weight: bold; */
}

.author:hover {
  text-decoration: underline;
}

.snippet {
  color: black;
}

.emphasis {
  font-weight: bold;
  color: var(--sl-color-neutral-0, #ffffff);
  background-color: var(--sl-color-primary-600);
}

.blurb {
  color: black;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 640px;
  min-height: 100vh;
} */
/* 
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
*/
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}